
@media (min-width: 0px) {
  .about-me {
    display:flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    width: 100%;
  }

  .about-me-commentary {
    text-align: justify;
    width: 100%;
  }

  .about-me-images {
    display:flex;
    flex-direction: column;
    width:100%;
  }

  .about-me-img {
    height: 30vh;
    width: auto;
    margin-top: 4vh;
    box-shadow: 0px 0px 10px rgba(200,200,200,0.8);
    border-radius: 4px;
    transition: 1s;
  }

.about-me-img:hover {
    transform: scale(1.2);
    transition: 1s;
  }
}

@media (min-width: 992px) {
  .about-me {
  padding: 0 15% 0 15%;
  }
}

@media (min-width: 1200px) {
  .about-me {
  padding: 0 15% 0 15%;
  }

  .about-me-commentary {
    width: 45%;
  }

  .about-me-images {
    width: 45%;
  }
}
