.about-me {
  display:flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;
  width: 100%;
}

.about-me-commentary {
  text-align: justify;
  width: 45%;
}

.about-me-images {
  display:flex;
  flex-direction: column;
  width:45%;
}

.about-me-img {
  height: 29vh;
  margin-top: 4vh;
  box-shadow: 0px 0px 10px rgba(200,200,200,0.8);
  border-radius: 4px;
  transition: 1s;
}

.about-me-img:hover {
  transform: scale(1.2);
  transition: 1s;
}
