.banner {
  background-image: url('../../images/cool-background.png');
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

