.banner {
  background-image: linear-gradient(rgba(100,100,100,0.5), rgba(100,100,100,0.5)),
  url('../../images/Background2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.banner p {
  padding-top: 1%;
  letter-spacing: 2px;
}

.myname {
  opacity: 0.1;
  letter-spacing: 1.5px;
}

.is-visible.myname {
  opacity: 1;
  transition: 3s;
}

.myoccupation {
  opacity: 0.2;
  letter-spacing: 1.5px;
}

.is-visible.myoccupation {
  opacity: 1;
  transition: 3s;
}

.contact-icons {
  text-decoration: none;
  font-size: 30px;
  padding: 3px;
  color: white;
  opacity: 0.8;
}

.contact-icons:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

@media (min-width: 450px) {
  .myname {
    opacity: 0.2;
    transform: translate(20%);
    transition: transform 1s 0.2s cubic-bezier(0.5,1,1,1);
    will-change: transform;
      letter-spacing: 1.5px;

  }

  .is-visible.myname {
    opacity: 1;
    transition: 2s;
    transform: translate(0px);
  }

  .myoccupation {
    opacity: 0.2;
    transform: translate(-20%);
    transition: transform 1s 0.2s cubic-bezier(0,0,1,1);
    will-change: transform;
    letter-spacing: 1.5px;

  }

  .is-visible.myoccupation {
    opacity: 1;
    transition: 2s;
    transform: translate(0px);
  }
}

