.project {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  background: rgba(255, 255, 255, 0.1);
  padding: 2% 3% 2% 3%;
  margin-bottom: 5%;
  border-radius:10px;
}

.project > p {
  color: #14737F;
}

.project-titles {
  text-align: center;
  color: #777777;
  font-size: 20px;
  padding-bottom:10px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.project-card {
  align-self: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top:5px;
  margin: 3%;
}

.project-card-item {
   margin:1%;
   position: relative;
   color: grey;
}

.project-card-item img {
   height: 250px;
   transition: 1s;
}

.project-card-item img:hover {
   height: 270px;
   transition: 0.5s;
}

.card-info-onclick {
  text-align: left;
  align-items: center;
  padding:5px;
  background: rgba(255, 255, 255, 0.9) ;
  height: 250px;
  position: absolute;
  top:0%;
  width: 100%;
  font-size: 10px;
}

::-webkit-scrollbar {
    width: 15px;
}

.card-info-onclick::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    opacity: 0.5;
}

.hidden {
  display: none;
}
