.project {
  width: 80%;
  padding: 1% 1% 1% 1%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  border-radius:10px;
  opacity: 1;
  transition: opacity 1.5s 0s;
  will-change: transform;
}

.is-visible.project {
  opacity: 1;
  transition: 1s;
}

.project > p {
  color: #14737F;
}

.project-title {
  text-align: left;
  color: #14737F;
  font-size: 26px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

.project-title i {
  color: black;
  font-size: 20px;
}

.project-description {
  width: 100%;
  text-align: justify;
}

.project-examples {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
}

.project-examples > * {
  pointer-events: auto;
}

.project-examples:hover > * {
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.5s;
}

.project-examples:hover > *:hover {
  transform: scale(1.3);
  opacity: 1;
  transition: 0.5s;
}

.project-examples-item {
   position: relative;
   margin: 3%;
   color: grey;
   transition: 1s;
   box-shadow: 0px 0px 10px #CDCDCD;
}

.project-examples-item img {
   height: 200px;
   transition: 1s;
}

.project-examples-item .nomad-img {
   height: 150px;
   width: 275px;
   transition: 1s;
}

.card-info-onclick {
  position: absolute;
  top:0%;
  opacity:0;
  padding: 5%;
  transition: 1s;
  text-align: justify;
  align-items: center;
  background: rgba(75, 75, 75, 0.9);
  color: white;
  height: 100%;
  width: 100%;
  font-size: 10px;
  overflow-y: scroll;
}

.card-info-onclick h4 {
  font-size: 18px;
  font-weight: normal;
}

.card-info-onclick:hover {
  opacity: 1;
  transition: 1s;
}

.card-info-onclick:active {
  opacity: 1;
  transition: 1s;
}

@media (min-width: 992px) {
    .project-examples-item .nomad-img {
     height: 200px;
     width: 350px;
  }
}

@media (min-width: 1150px) {
  .project-examples-item {
    margin: 1.5%;
  }

  .project-examples-item img {
     height: 200px;
  }

  .project-examples-item .nomad-img {
     height: 175px;
     width: 325px;
  }
}

@media (min-width: 1500px) {
  .project {
    opacity: 0;
  }

  .project-examples-item img {
     height: 250px;
  }

  .project-examples-item .nomad-img {
   height: 200px;
   width: 350px;
  }

}


.card-info-onclick::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    opacity: 0.5;
}


