.project {
  width: 80%;
/*  background: rgba(255, 255, 255, 0.1);
*/  padding: 2% 2% 2% 2%;
  margin-bottom: 5%;
  border-radius:10px;
}

.project > p {
  color: #14737F;
}

.project-title {
  text-align: left;
  color: #777777;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.project-content {
  width:100%;
  display: flex;
  justify-content: space-between;

}

.project-description {
  width: 30%;
  text-align: justify;
  margin-top: 1%;
}

.project-examples {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
  margin-left:5%;
}

.project-examples > * {
  pointer-events: auto;
}

.project-examples:hover > * {
  transform: scale(0.8);
  opacity: 0.5;
}

.project-examples:hover > *:hover {
  transform: scale(1.2);
  opacity: 1;
}

.project-examples-item {
   margin: 2%;
   position: relative;
   color: grey;
   transition: 1s;

}

.project-examples-item img {
   height: 250px;
   transition: 1s;
}

.project-examples-item img:hover {
   transition: 0.25s;
}

.card-info-onclick {
  text-align: left;
  align-items: center;
  background: rgba(255, 255, 255, 0.9) ;
  height: 250px;
  position: absolute;
  top:0%;
  width: 100%;
  font-size: 10px;
}

::-webkit-scrollbar {
    width: 15px;
}

.card-info-onclick::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    opacity: 0.5;
}

.hidden {
  display: none;
}
