.section {
/*  height: 100vh;
*/  width: 100%;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
  url('../../images/cool-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
    overflow-x: hidden;

}

.section h2 {
  padding-top: 20px;
}


