.section{
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),
  url('../../images/cool-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.section-titles {
  padding: 30px;
  color: #14737F;
  transform: translateY(20px);
  transition: transform 1s 0s cubic-bezier(0.2,1,0.2,2);
  will-change: transform;
  letter-spacing: 1.5px;

}

.is-visible.section-titles {
  transform: translateY(0px);
}

.down-arrow {
  position: absolute;
  padding: 20px;
  margin-top: 20%;
  font-size: 40px;
  opacity:0.4;
  bottom:0;
}

.down-arrow:hover {
  font-size: 40px;
  opacity:1;
  transition: 0.5s;
}
