.section{
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
  url('../../images/cool-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-titles {
  margin-top: px;
  padding: 10px;
  color: #14737F;
  transform: translateY(20px);
  transition: transform 1s 0s cubic-bezier(0.2,1,0.2,2);
  will-change: transform;
  letter-spacing: 1.5px;
}

.is-visible.section-titles {
  transform: translateY(0px);
}

.down-arrow {
  position: absolute;
  padding: 20px;
  margin-top: 20%;
  font-size: 40px;
  opacity:0.4;
  bottom:0;
}

.down-arrow:hover {
  opacity:1;
  transition: 0.5s;
}

.down-arrow-body {
  opacity:0;
}

.down-arrow-body:hover {
  opacity:0;
}

.page-labels {
  text-align: center;
  margin-bottom: 2px;
  font-size: 11px;
  color: #14737F;
}

@media (min-width: 1200px) {
  .down-arrow-body {
  color: #14737F;
  font-size: 40px;
  opacity:0.8;
}

.down-arrow-body:hover {
  opacity:1;
  transition: 0.5s;
}
}
